.grid-container {
  margin-left: 12vw;
}

.dashboard-card {
  position: absolute;
  width: 95%;
  height: 50%;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  
}
