<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="375px">
    <mat-grid-tile rowspan="2" colspan="1">
      <mat-card class = "dashboard-card">
          <mat-card-content class="dashboard-card-content">
            <app-dashboard></app-dashboard>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile rowspan="2" colspan="1">
        <mat-card class = "dashboard-card">
            <mat-card-content class="dashboard-card-content">
              <app-dashboard></app-dashboard>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
  </mat-grid-list>
</div>
